
$primary-font: 'Open Sans', sans-serif;  
$secondary-font: 'Montserrat', sans-serif;  
$main-blue: #337ab7;

.navbar-header {
  font-family: $secondary-font;
  background-color: white;
  display: inline;
}

.navbar-default .navbar-brand {
  font-weight: 1000; 
  font-size: 30px;
  letter-spacing: 3px;
  color: #337ab7;
  display: inline;
}




ul {
    list-style-type: none;
    margin-top: -20px;
    padding: 22px;
    overflow: hidden;
    background-color: #333;
    height: 76px;
    width: 2000px;
    opacity: 0.7;
}

li {
    float: left;
    text-decoration: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;

}
footer {
	background-color: #555;
	color: white;
	padding: 0 0 45px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;

    }

.log{
	align:right;
}
html,body{
	position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

